@model IEnumerable<noter.Entities.Comment>

@functions
{

    // provide names like "Comment.Payload" rather than simply "Payload"
    // so that the binder will see something with the right shape
    string GetFullPropertyyName(int index, string propertyName)
    {
        return $"{ViewBag.CommentListName}[{index}].{propertyName}";
    }
    

}
    <div class="col-md-12" style="background-color: #00bfff">
        <div>
            <h4>Comments</h4>
        </div>
        <div>
            @{
                int ii = 0;
                foreach (noter.Entities.Comment comment in Model)
                {
                    <div class="form-group">
                        <label asp-for="@comment.Payload" class="control-label"></label>
                        <textarea asp-for="@comment.Payload" class="form-control" name="@GetFullPropertyyName(ii, nameof(comment.Payload))"></textarea>
                        <span asp-validation-for="@comment.Payload" class="text-danger"></span>
                    </div>
                    ii++;
                }
            }
            <div class="form-group">
                <input type="submit" name="AddCommentTextBox" asp-controller="NoteManager" 
                   asp-action="AddCommentTextBox" class="btn btn-default btn-primary" value="Add Comment"/>
            </div>
        </div>
    </div>

