@model noter.Entities.Comment

@functions
{

    // provide names like "Comment.Payload" rather than simply "Payload"
    // so that the binder will see something with the right shape
    string GetFullPropertyyName(string propertyName)
    {
        return $"{ViewBag.CommentEntityName}.{propertyName}";
    }
    

}
<div class="row">
    <div class="md-col-4 md-col-offset-4">
        <div>
            <dl>
                <dt>
                    @Html.DisplayNameFor(nac => nac.Payload)
                </dt>
                <dd>
                    @Html.DisplayFor(nac => nac.Payload)
                </dd>
            </dl>
        </div>
        <div>
            <div class="form-group">
                <label asp-for="Payload" class="control-label"></label>
                <input asp-for="Payload" class="form-control" name="@GetFullPropertyyName(nameof(Model.Payload))"/>
                <span asp-validation-for="Payload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="AddComment" class="btn btn-default btn-primary"/>
            </div>
        </div>
    </div>
</div>
