@model noter.ViewModel.EditNoteVM

@{
    Layout = null;
    ViewBag.TagListName = nameof(Model.SelectableTags);
    ViewBag.CommentListName = nameof(Model.Comments);
}

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Note.Id" />
            <div class="form-group">
                <label asp-for="Note.Payload" class="control-label"></label>
                <input asp-for="Note.Payload" class="form-control" />
                <span asp-validation-for="Note.Payload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checker" class="control-label"></label>
                <input type="checkbox" asp-for="Checker" class="form-control" />
                <span asp-validation-for="Checker" class="text-danger"></span>
            </div>
            @Html.Partial("~/Views/Tag/Select.cshtml", Model.SelectableTags)
            @Html.Partial("AddComment", Model.Comments)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

