@model noter.ViewModel.EditNoteVM

@{
    ViewBag.TagListName = nameof(Model.SelectableTags);
    ViewBag.CommentListName = nameof(Model.Comments);
}

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Note.Id" />
            <div class="form-group">
                <label asp-for="Note.Title" class="control-label" ></label>
                <input asp-for="Note.Title" type="text" class="form-control"/>
                <span asp-validation-for="Note.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Payload" class="control-label"></label>
                <textarea asp-for="Note.Payload" class="form-control" style="height: 400px"></textarea>
                <span asp-validation-for="Note.Payload" class="text-danger"></span>
            </div>
            @Html.Partial("~/Views/Tag/Select.cshtml", Model.SelectableTags)
            @Html.Partial("AddComment", Model.Comments)
            <div class="form-group">
                <input type="submit" value="@ViewBag.SaveAction" name="submit" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

