@using noter.Common
@model noter.ViewModel.EditNoteVM


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="NoteManager" method="get">
            <input name="Id" value="@Constants.NewEntityId" type="hidden"/>
            <div class="form-group text-center">
                <input type="submit" value="Create Note" class="btn btn-default btn-primary"/>
            </div>
        </form>
    </div>
</div>
