@model noter.ViewModel.EditNoteVM

@{
    ViewBag.Title = "Note Maintenance";
    Layout = "_MainLayout";
}


<p>View is: @ViewBag.SubViewName</p>

<h2>@ViewBag.Title</h2>

@Html.Partial((string)ViewBag.SubViewName, Model)
        @*subview name is Edit or Delete or possibly something else*@

<div class="row">
    <a class="btn" asp-action="Index">Back to List</a>
</div>


@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
