<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - noter</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link href="~/lib/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/sb-admin-2.css" rel="stylesheet" />
        <link href="~/lib/custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Developent">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand"  href="/">My Notes</a>
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <br />
            <ul class="nav" id="side-menu">
                <li>
                    <span><i class="fa fa-edit fa-fw"></i> Clients</span>
                    <ul class="nav nav-second-level in">
                        <li>
                            <a href="#">New Client</a>
                        </li>
                        <li>
                            <a href="#">All Clients</a>
                        </li>
                    </ul>
                </li>
                <li>                    
                    <span><i class="fa fa-edit fa-fw"></i> Orders</span>
                    <ul class="nav nav-second-level in">
                        <li>
                            <a href="#">New Order</a>
                        </li>
                        <li>
                            <a href="#">In Progress Orders</a>
                        </li>

                        <li>
                            <a href="#">Order History</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i class="fa fa-edit fa-fw"></i> Inventory</span>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">New Item</a>
                        </li>
                        <li>
                            <a href="#">Current Inventory</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="page-wrapper">
@*<div class="container body-content">*@
      @RenderBody()
</div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/jquery.validate.js"></script>
      <script src="~/lib/jquery.validate.unobtrusive.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
     <script src="~/lib/jquery.validate.js"></script>
     <script src="~/lib/jquery.validate.unobtrusive.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
@RenderSection("Scripts", required: false)
</body>
</html>